@import "../global/color";
@import "../global/variables";

.hero {
  @include mobile {
    background-size: 68rem;
    height: 85vh;
  }
  width: 100%;
  height: 70vh;
  background-image: url("/images/bg-pattern-intro.svg"),
    linear-gradient(to right, $Very-light-red, $Light-red 60%);
  background-size: 160rem;
  background-position: left;
  background-position-x: -11rem;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-left-radius: 6rem;

  .navbar {
    display: flex;
    margin: auto;
    align-items: center;
    width: 80%;
    height: 50%;
    height: 5rem;
    flex-wrap: wrap;
    .logo {
      @include mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .hamburger_icon {
        display: none;
        cursor: pointer;
        @include mobile {
          display: block;
        }
      }
    }
    .nav_link {
      @include mobile {
        display: none;
        position: absolute;
        top: 10%;
        flex-direction: column;
        padding: 1rem;
        background-color: $White-text;
        border-radius: 5px;
        z-index: 2;
        width: 80%;
        margin: auto;
        height: 65vh;
        transition: 1s linear ease-in-out;
      }
      flex: 1;
      display: flex;
      align-items: center;
      margin-left: 5rem;
      list-style: none;
      flex-wrap: wrap;
      li {
        @include mobile {
          text-align: center;
        }
      }
      .nav_links {
        @include mobile {
          line-height: 5rem;
          color: $gray-blue;
          margin: 0;
        }
        margin: 1rem;
        text-decoration: none;
        @include nav_text($White-text);
        &:hover {
          img {
            transform: rotate(180deg);
          }
        }

        .arrow_light {
          @include mobile {
            display: none;
          }
        }
        .arrow_dark {
          display: none;
          @include mobile {
            display: inline;
          }
        }
      }

      //   dropdown menu
      .dropdown {
        position: relative;
        &:hover .dropdown_content {
          display: block;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }

        .dropdown_content {
          display: none;
          background-color: $White-text;
          position: absolute;
          min-width: 180px;
          z-index: 1;
          border-radius: 5px;
        }
        .dropdown_content a {
          float: none;
          color: black;
          text-decoration: none;
          display: block;
          text-align: left;
          @include nav_text($gray-blue);
          font-weight: 200;
          margin: 1.5rem;

          &:hover {
            @include nav_text($gray-blue);
          }
        }
      }
    }
    .nav_btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: right;
      @include mobile {
        &::before {
          content: "";
          width: 90%;
          position: absolute;
          height: 1px;
          background-color: rgb(214, 214, 214);
        }
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
    .login_btn {
      background: transparent;
      @include nav_text($White-text);
      border: none;
      margin: 1.2rem;
      cursor: pointer;
      @include mobile {
        color: $gray-blue;
      }
    }
    .signup_btn {
      @include mobile {
        background: $Light-red;
        color: $White-text;
      }
      width: 7rem;
      height: 2.5rem;
      background: $White-text;
      border-radius: 32px;
      border: none;
      cursor: pointer;
      @include nav_text($Light-red);

      &:hover {
        background-color: $hover-background;
        color: $White-text;
      }
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    .title {
      h1 {
        font-size: 3.1rem;
        font-family: "Overpass", sans-serif;
        color: $White-text;
        text-align: center;
        @include mobile {
          font-size: 2rem;
          text-align: center;
          min-width: 90%;
          width: 90%;
          margin: auto;
        }
      }
    }
    p {
      @include mobile {
        width: 90%;
        margin: auto;
        text-align: center;
        line-height: 1.5rem;
        margin-top: 1rem;
      }
      text-align: center;
      font-family: "Overpass", sans-serif;
      color: #fccfc7;
      font-size: 1.1rem;
      line-height: 2rem;
    }
    .cta_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      .start_btn {
        @include button(none, $White-text, $Light-red);
        &:hover {
          @include button-hover($hover-background, $White-text);
        }
      }
      .learnmore_btn {
        @include button(1px solid $White-text, transparent, $White-text);
        &:hover {
          @include button-hover($White-text, $Light-red);
        }
      }
    }
  }
}
